* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
       }
   body 
       {
   background-image: url(https://images.unsplash.com/photo-1535957998253-26ae1ef29506?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80);
    background-color: whitesmoke; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   
     
       }
       a 
       {
   text-decoration: none;
       }
    li 
    {
   list-style: none;
   display: inline;
   margin: 10px;
   ;
    }
    .panelka
       {
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding: 20px;
           font-family: Arial, Helvetica, sans-serif;
           color: rgb(255, 255, 255);
           ;
       }
   .nav-links a {
           color: rgb(255, 255, 255);
           font-family: Arial, Helvetica, sans-serif;
        }
   .ZAGOLOVOK {
           text-align  : center;
           font-weight: bold;
           font-size: 26px;
            margin-top: 50px;
            color: rgb(255, 255, 255);
        }
        a.button17 {
           display: inline-block;
           font-family: arial,sans-serif;
           font-size: 11px;
           color: rgb(205,216,228);
           text-shadow: 0 -1px rgb(46,53,58);
           text-decoration: none;
           user-select: none;
           line-height: 2em;
           padding: 1px 1.2em;
           outline: none;
           border: 1px solid rgba(33,43,52,1);
           border-radius: 3px;
           background: rgb(81,92,102) linear-gradient(rgb(81,92,102), rgb(69,78,87));
           box-shadow:
            inset 0 1px rgba(101,114,126,1),
            inset 0 0 1px rgba(140,150,170,.8),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
            margin-left: 740px;
            margin-top: 60px;
         }
         a.button17:active {
           box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
         }
         a.button17:focus:not(:active) {
           border: 1px solid rgb(22,32,43);
           border-bottom: 1px solid rgb(25,34,45);
           background: rgb(53,61,71);
           box-shadow:
            inset 0 1px 3px rgba(0,10,20,.5),
            0 1px rgb(83,94,104),
            0 0 1px rgb(86,96,106);
           pointer-events: none;
         }
   